@import url('https://fonts.googleapis.com/css?family=Gruppo');

:root {
  /* dark mode main color */
   --color-1: #022946;
  /*--color-1: #0b192f;*/
  /* light shades of dark mode color*/
  --color-2: hsl(198, 57%, 40%);
  --color-3: hsl(198, 43%, 48%);
  --color-4: hsl(187, 70%, 56%);
  --color-5: hsl(197, 51%, 69%);
  --color-6: hsl(195, 54%, 78%);

  /* light mode main color */
  --color-7: hsl(0, 0%, 100%);

  /* dark shades of light mode color*/
  --color-8: hsl(240, 11%, 98%);
  --color-9: hsl(240, 8%, 95%);
  --color-10: hsl(240, 33%, 99%);
  --color-11: hsl(233, 19%, 92%);
  --color-12: hsl(200, 12%, 95%);

  /* text colors */
  --color-13: rgba(255, 255, 255, 0.2);
  --color-14: hsl(0, 0%, 20%);
  --color-15: hsl(210, 22%, 49%);
  --color-16: hsl(209, 23%, 60%);
  --color-17: hsl(211, 27%, 70%);
  --color-18: hsl(210, 31%, 80%);
  --color-19: hsl(212, 33%, 89%);
  --color-20: hsl(210, 36%, 96%);
  --color-21: hsl(207, 74%, 79%);

  /* shadows */
  --dark-shadow: 0 5px 15px var(--color-1);
  --light-shadow: 0 5px 10px var(--color-3);

  /* fonts */
  --font-primary: 'Gruppo', regular;
  --font-secondary: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

  /* misc */
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.8rem;
  --max-width: 1170px;
  --fixed-width: 620px;
}

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background: var(--color-1);
  color: var(--color-10);
  font-size: 0.875rem;
  /*font-weight: lighter;*/
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 3.5rem 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 2rem;
  font-weight: 500;
}

header {
  position: fixed;
  width: 100vw;
  height: 3.5rem;
  padding: 0.2rem 2rem;
  backdrop-filter: blur(10px);
  box-shadow: var(--light-shadow);
  z-index: 10;

  & nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .logo > svg {
      width: 2.5rem;
      fill: var(--color-1);
    }

    .links-container {
      margin-left: auto;
      transition: var(--transition);
      .header-links {
        width: 18rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & li {
          list-style: none;

          & a {
            text-decoration: none;
            color: var(--color-10);
            font-family: var(--font-primary);
            font-size: 1.1rem;
          }

          & a:hover {
            color: var(--color-21);
          }
        }

        /* Dark Mode Toggle Switch Button */
        .mode-toggle {
          display: block;
          background-color: var(--color-1);
          color: var(--color-10);
          transition: var(--transition);
          width: 1.5rem;
          height: 1.5rem;
          border: 0.2rem solid var(--color-7);
          border-radius: 1rem;
          cursor: pointer;
        }

        & .mode-toggle:hover {
          transform: scale(1.1);
          transition: all 0.3s;
          box-shadow: 0 0 15px var(--color-5);
        }
      }
    }
    & .nav-toggle {
      display: block;
      font-size: 1.5rem;
      color: var(--color-7);
      background: transparent;
      border-color: transparent;
      transition: var(--transition);
      cursor: pointer;
    }

    & .nav-toggle:hover {
      color: var(--color-21);
    }
  }
}


.light-mode {
  background: linear-gradient(-45deg, #facbf6, #b3d5f5, #cac0f1, #da8eb9);
  background-size: 2000% 2000%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.light-mode {
  & header {
    box-shadow: 0 2px 2px white;
    & nav {
      & .links-container {
        .header-links > li > a {
          color: var(--color-10);
        }

        & .header-links > li > a:hover {
          color: var(--color-5);
        }

        .mode-toggle {
          background: transparent;
          border: 0.25rem solid var(--color-10);
        }

        & .mode-toggle:hover {
          border-color: var(--color-1);
          box-shadow: 0 0 20px var(--color-6);
        }
      }
    }
    .nav-toggle {
      color: var(--color-10);
    }
  }

  #about {
    & h1 {
      color: var(--color-10)
    }
    & h2 {
      color: var(--color-10)
    }
    & .about-details p {
      color: var(--color-10)
    }
  }
  .animation-area {
    background: transparent;
    width: 100%;
    box-shadow: 0 3px 5px var(--color-10);
  }
  .box-area li {
    background: var(--color-13);
    box-shadow: 10px 100px 10px var(--color-10);
    border-radius: 50%;
  }

  & .email-btn {
    background: var(--color-1);
    color: var(--color-7);
    border: 0.2rem solid var(--color-1);
  }

  & .scrollTop-btn {
    background: transparent;
    color: var(--color-10);
    border: 0.2rem solid var(--color-10);
  }

  & footer {
    border-top: 1px solid var(--color-10);
    box-shadow: none;
    & footer > .footer-links > li > a {
      color: var(--color-1);
    }
  }
}

.section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 94rem;
  height: auto;
  padding-top: 6rem;
}

#about {
/*height: 100vh;*/
  & h1 {
    font-size: 4rem;
    color: var(--color-7);
    text-align: center;
    letter-spacing: 0.5rem;
    font-weight: bold;
  }
  & h2 {
    font-size: 2rem;
    color: var(--color-6);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  & .about {
    display: grid;
    grid-template-columns: 2fr 2fr;
    & p {
      color: var(--color-10);
      font-size: 1.1rem;
      line-height: 1.6rem;
      margin-block-start: 1rem;
      margin-block-end: 2rem;
      padding-right: 2rem;
    }
  }
}

#projects {
  & .projects-intro {
    text-align: center;
    & h1 {
      font-size: 2rem;
      color: var(--color-5);
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      font-weight: 600;
    }

    & p {
      font-size: 1.5rem;
      line-height: 1.7rem;
    }
  }

  & .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    /*grid-template-columns: repeat(auto-fit, minmax(min(16rem, 100%), 1fr));*/
    gap: 1rem;
    margin: 3rem 0 0;

    & .project-window {
      position: relative;
      overflow: hidden;
      width: auto;
      height: auto;
      border: 2px solid var(--color-10);
      border-radius: var(--radius);

      & img {
        display: block;
        width: 100%;
        height: 100%;
        padding: 1rem;
      }

      /* Project description and link that appear on hover (over the project window)*/
      & figcaption {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: transparent;
        backdrop-filter: blur(10px);
        transition: opacity 0.3s ease-in-out;
        padding: 1rem;


        & p {
          text-align: center;
          font-size: min(1.2rem, 100vw);
          font-weight: 350;
          color: var(--color-7);
          line-height: 2rem;
        }

        & .project-opener {
          text-decoration: none;
          color: var(--color-10);
          padding: 0.4rem 0.8rem;
          border: 1px solid var(--color-10);
          border-radius: 0.4rem;
          margin: 1rem;

          & span {
            font-size: min(0.9rem, 100vw);
            margin-right: 0.3rem;
          }

          &:hover {
            transition: all 0.2s ease-in;
            background: var(--color-10);
            color: var(--color-21);
          }
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .projects-outro {
    margin: 3rem 0 0;
    text-align: center;
    & p {
      font-size: 1.5rem;
    }
    & .instruments {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(6rem, 10rem));
      gap: 1rem;
      place-content: center;
      margin-top: 2rem;

      & li {
        font-size: 1.1rem;
        display: grid;
        place-content: center;
        list-style: none;
        margin: 1rem;
        width: 6.5rem;
        height: 6.5rem;
        border: 2px solid var(--color-10);
        border-radius: 50%;
        box-shadow: var(--light-shadow);
      }
      & li:hover {
        transform: scale(1.1);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

#contacts {
  height: 80vh;
  .contact-window {
    display: grid;
    place-items: center;
    margin: auto 0;
    text-align: center;

    & h1 {
      font-size: 2rem;
      color: var(--color-21);
    }

    & p {
      font-size: 1.2rem;
      margin-top: 1rem;
    }

    .email-btn {
      text-decoration: none;
      color: var(--color-7);
      margin-top: 2rem;
      padding: 0.5rem 1.1rem;
      border: 1px solid var(--color-10);
      border-radius: 0.6rem;
      transition: var(--transition);

      & span {
        margin-right: 0.3rem;
      }

      &:hover {
        background-color: var(--color-21);
        color: var(--color-7);
        transition: all 0.2s ease-in-out;
      }

      &:hover i {
        transform: rotate(360deg);
        transition: all 0.6s;
      }
    }
  }
}

footer {
  display: grid;
  place-items: center;
  padding: 1.2rem 3rem;
  font-size: 0.85rem;
  box-shadow: var(--light-shadow);

  .footer-links {
    width: 7rem;
    display: flex;
    justify-content: space-between;

    & li {
      list-style: none;

      & a {
        text-decoration: none;
        color: var(--color-7);
      }

      &:hover i {
        transform: scale(1.2);
        transition: all 0.2s;
        color: var(--color-21);
      }
    }
  }

  .scrollTop-btn {
    display: grid;
    place-items: center;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-7);
    border: 0.2rem solid var(--color-7);
    border-radius: 1rem;
    visibility: hidden;
  }

  & .scrollTop-btn:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    color: var(--color-5);
    border-color: var(--color-21);
  }
}

.animation-area {
  background: var(--color-1);
  background: linear-gradient(to right, var(--color-1), var(--color-5));
  width: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: var(--light-shadow);
}

.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
   /*overflow: hidden;*/
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--color-13);
  animation: animate 20s linear infinite;
  bottom: -5rem;
  box-shadow: var(--light-shadow);
border-radius: 15%;
}

.box-area li:nth-child(1) {
  left: 86%;
  width: 7rem;
  height: 7rem;
  animation-delay: 0s;

}

.box-area li:nth-child(2) {
  left: 5%;
  width: 3rem;
  height: 3rem;
  animation-duration: 10s;

}

.box-area li:nth-child(3) {
  left: 70%;
  width: 9rem;
  height: 9rem;
}

.box-area li:nth-child(4) {
  left: 42%;
  width: 10rem;
  height: 10rem;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box-area li:nth-child(5) {
  left: 65%;
  width: 5rem;
  height: 5rem;
  animation-delay: 0s;
}

.box-area li:nth-child(6) {
  left: 15%;
  width: 8rem;
  height: 8rem;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

.appearing-text {
  opacity: 0;
  transform: translateY(20px);
  animation: appear 1s forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}